form {
  width:500px;
  margin:50px auto;
}
.search{
  padding:8px 15px;
  background:rgba(50,50,50,0.2);
  border:0px solid #dbdbdb;
}

.button{
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.button:hover{
  background-color:#fafafa;
  color:#207cca;
}

/*The above code is for the search bar interface*/

div.header{
  display:table;
  width:20%;
  table-layout:fixed;
  position:relative;
  top:5%;
  right:-70%;
  background-color:white;
  height:10%;
  margin-top:10px;
}

div.header span{
  display:table-cell;
  text-align:right;
}

/* The above code makes up the header links*/

div.footer{
  background-color:silver;
  position:absolute;
  bottom:0;
  width:100%;
}

div.footer #left_just{
  display:table;
  width:20%;
  table-layout:fixed;
  height:10%;
  margin-bottom:5px;
}

div.footer #left_just span{
  display:table-cell;
  text-align:center;
}

div.footer #middle_just{
  display:table;
  width:60%;
  table-layout:fixed;
  height:10%;
  margin-bottom:5px;
}

div.footer #middle_just span{
  display:table-cell;
  table-layout: fixed;
}

div.footer #right_just{
  display:table;
  width:20%;
  table-layout:fixed;
  height:10%;
  margin-bottom:5px;
}

div.footer #right_just span{
  display:table-cell;
  table-layout: fixed;
}

#logo{
  width:300px;
  margin-left: auto;
  margin-right: auto;
}
