#top-nav{
  margin-right:20px;
  margin-top:15px;
  font-family:'Roboto', sans-serif;
  font-size: small;
  text-align: right;
}

a{
  color: #4e4e4e;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

#gmail{
  width:84px;
  line-height:20px;
}

#images{
  width:84px;
  line-height: 20px;
  padding:15px;
}

#login{
  display:inline-block;
  line-height: 28px;
  padding: 0 15px;
  position: relative;
  background-color: #4285f4;
  color:white;
  margin-left: 12px;
  font-weight: bold;
  border-radius:2px;
}

#login:hover{
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  text-decoration: none;
}

#login:active{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
}

#apps{
  background-image: url(apps.png);
  cursor:pointer;
  width: 16.1px;
  height:16.1px;
  background-size: 16.1px 16.1px;
  position: relative;
  top: 3.5px;
  display: inline-block;
}

#apps:hover{
  background-image: url(apps-hover.png);
  opacity:0.85;
}

#logo{
  background-size: 272px 92px;
  height: 92px;
  width:272px;
  background-image: url(googlelogo.png);
  margin:150px auto 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#country{
  font-family: 'Roboto', sans-serif;
  color:#4285f4;
  margin-right:35px;
}

#search{
  display: flex;
  margin: 40px auto 0 auto;
  background-color: #ffffff;
  border: 0.1px #d9d9d9 solid;
  width: 55%;
  height:45px;
  box-shadow: .5px .5px 2px 0px #999;
  color:black;
}

#search:hover{
  box-shadow: 0.5px 0.5px 6px 0px #999;
}

input[type=text]{
  width:100%;
  padding: 12px 20px;
  margin:8px 0;
  box-sizing:border-box;
}

#buttons{
  margin: 30px 35%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#google-search, #lucky{
  background-color: #f4f4f4;
  color: #757575;
  padding: 10px;
  font-weight:bold;
  border: 0px #d9d9d9 solid;
}

#google-search:hover{
  border: 0.1px #d9d9d9 solid;
}

#lucky:hover{
  border:0.1px #d9d9d9 solid;
  color:black;
}

footer{
  position:absolute;
  bottom:0px;
  background:#f2f2f2;
  border-top: 1px solid #e4e4e4;
    height:40px;
  width:100%;
  font-family:'Roboto', sans-serif;
  font-size:small;
}

#leftfoot, #rightfoot{
  position: absolute;
  line-height:15px;
  opacity:0.75;
}

#leftfoot{
  left:0px;
}

#rightfoot{
  right:0px;
}

footer ul li{
  margin: 0 40px 0px 0px;
}

li{
  float:left;
  list-style-type:none;
}
